﻿@model Xmas.Areas.Membre.Models.EditGroupModel

@{
                /**/

                ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="form-horizontal">
    <h4>Edition Du groupe</h4>
    <form method="post" action="~/Membre/Group/Edit">
        <hr />
        <input type="hidden" name="IdGroupe" value="@Model.MonGroupe.IdGroupe" /><br />
        Nom <input type="text" name="Nom" value="@Model.MonGroupe.Nom" /><br />
        Description <input type="text" name="Description" value="@Model.MonGroupe.Description" /><br />
        <select name="IdEvenement">
            @foreach (Xmas.Areas.Membre.Models.EventModel item in Model.MesEvents)
            {
                <option value="@item.IdEvenement">@item.Nom</option>
            }
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
